[core]
    editor = nvim
    autocrlf = input
    pager = delta
[credential]
    helper = !gh auth git-credential
    useHttpPath = true
[user]
    name = Salim Hamed
[commit]
    gpgsign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    theme = Dracula
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[rerere]
    enabled = true
[pull]
    ff = only
[init]
    defaultBranch = main
[remote]
    prune = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --oneline --decorate --all --graph
[include]
    path = .gitconfig.local
